OPENAI_API_KEY=your_openai_api_key_here
ELASTICSEARCH_HOST=http://elasticsearch:9200
INDEX_NAME=hr-policy-chunks
EMBEDDING_MODEL=text-embedding-3-small
LLM_MODEL=gpt-4o-mini
VECTOR_DIMENSION=1536
VECTOR_FIELD=embedding
STREAMLIT_PORT=8501
